@model ListEditViewModel

@{
    ViewData["Title"] = "Edit List";
}

<link rel="stylesheet" href="~/css/ListEdit.css" />

<div class="back">
    <a class="icon-wrapper">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div class="edit-list">
        Edit List
    </div>
</div>

<br />

<form asp-controller="List" asp-action="Edit" method="post" class="container" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="List.Id" hidden="true" />
    <input asp-for="List.CreatorId" hidden="true" />
    <input asp-for="List.CoverImage" hidden="true" />
    <div class="form-floating">
        <input asp-for="List.Name" class="form-control" />
        <label asp-for="List.Name" class="form-label"></label>
        <span asp-validation-for="List.Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-floating">
        <input asp-for="List.Description" class="form-control" />
        <label asp-for="List.Description" class="form-label"></label>
        <span asp-validation-for="List.Description" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label class="control-label">List Image</label>
        <div class="custom-file">
            <input asp-for="formFile" class="custom-file-input" id="customFile" />
        </div>
        <span asp-validation-for="formFile" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="UserIds" class="control-label">List Members</label>
        <select asp-for="UserIds" class="form-control js-example-basic-multiple" multiple="multiple" asp-items="@Model.UserList">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="UserIds" class="text-danger"></span>
    </div>
    <br />
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </div>
</form>

<script src="~/lib/select2/js/select2.js"></script>
<link href="~/lib/select2/css/select2.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>