@model UserEditViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<link rel="stylesheet" href="~/css/UserEdit.css" />

<div class="back">
    <a class="icon-wrapper">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div class="edit-profile">
        Edit Profile
    </div>
</div>

<br />

<form asp-controller="User" asp-action="Edit" method="post" class="container edit-user-form" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="User.Id" hidden="true" />
    <input asp-for="User.UserName" hidden="true" />
    <div class="form-floating">
        <input asp-for="User.DisplayName" class="form-control" />
        <label asp-for="User.DisplayName" class="form-label"></label>
        <span asp-validation-for="User.DisplayName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-floating">
        <input asp-for="User.Description" class="form-control" />
        <label asp-for="User.Description" class="form-label"></label>
        <span asp-validation-for="User.Description" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label class="control-label">Profile Image</label>
        <div class="custom-file">
            <input asp-for="ProfileImageFile" class="custom-file-input" id="customFile" />
        </div>
        <span asp-validation-for="ProfileImageFile" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label class="control-label">Cover Image</label>
        <div class="custom-file">
            <input asp-for="CoverImageFile" class="custom-file-input" id="customFile" />
        </div>
        <span asp-validation-for="CoverImageFile" class="text-danger"></span>
    </div>
    <br />

    @*<label for="file-input">
        <i class="fas fa-image"></i>
        <p>Cover Image</p>
        </label>
        <br />
        <input asp-for="CoverImageFile" type="file" id="file-input" />
        <div class="img-wrapper">
        <img id="input-img" />
        <div class="remove">&times;</div>
        </div>
        <br />*@

    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </div>
</form>