html {
    height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

    body::-webkit-scrollbar {
        width: 4px;
    }

    body::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 9999px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: rgb(29, 161, 242);
        border-radius: 9999px;
    }

/*.btn {
    border-radius: 9999px;
    background-color: rgb(29, 161, 242);
    border: none;
    box-shadow: none !important;
}*/

.button {
    text-align: center;
    /*line-height: 21px;*/
    font-size: 15px;
    border-radius: 9999px;
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
    outline: none !important;
    user-select: none;
    box-shadow: none;
    transition-duration: 0.2s;
    cursor: pointer;
}

    .button:hover {
        background-color: rgb(26, 145, 218);
    }

img {
    border-radius: 9999px;
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: none;
        color: inherit;
    }

.show-white-space {
    white-space: pre-wrap;
}
