.back {
    border-bottom: 1px solid rgb(230, 236, 240);
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 10px;
}

    .back .icon-wrapper {
        height: 39px;
        width: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        color: rgb(29, 161, 242);
        transition-duration: 0.2s;
        cursor: pointer;
    }

        .back .icon-wrapper:hover {
            background-color: rgba(29, 161, 242, 0.1);
            color: rgb(29, 161, 242);
        }

    .back .edit-profile {
        margin-left: 4%;
        font-size: 19px;
        font-weight: bold;
        color: rgb(20, 23, 26);
    }

/*.edit-user-form label {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .edit-user-form label i {
        font-size: 25px;
        color: rgb(29, 161, 242);
    }

    .edit-user-form label p {
        margin: 0;
        padding: 0 0 0 10px;
        color: rgb(20, 23, 26);
        font-style: italic;
    }

.edit-user-form input[type=file] {
    display: none;
}

.edit-user-form .img-wrapper {
    position: relative;
    height: 70%;
    max-width: 50%;
    margin-left: 2%;
    border-radius: 10px !important;
    cursor: pointer;
}

    .edit-user-form .img-wrapper img {
        position: relative;
        height: 100%;
        max-width: 100%;
        border-radius: 10px !important;
        cursor: pointer;
        z-index: 1;
    }

        .edit-user-form .img-wrapper img:hover {
            opacity: 0.1;
        }

            .edit-user-form .img-wrapper img:hover ~ .remove {
                visibility: visible;
            }

    .edit-user-form .img-wrapper .remove {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px !important;
        font-size: 40px;
        padding-bottom: 15%;
        line-height: 100px;
        color: rgb(29, 161, 242);
        z-index: 0;
        visibility: hidden;
    }
*/